*{
    margin: 0px;
    padding: 0px;
}


footer{
    background-color: orange;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

header > div{
    display: flex;
}

header img {
    width: 30px;
    padding: 0 20px;
}

.card{
    border: 1px solid black;
    width: 400px;
}

.card img{
    width: 100%;

}

.card {
    text-align: center;
}

main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    
}

@media screen and (min-width: 768px) {

    main {
        height: 600px;
        height: 60vh;
        flex-direction: row;
        justify-content: space-around;
    }

    header {
        height: 100px;
        height: 60vh;
        justify-content: center;
    }

    footer {
        height: 600px;
        height: 60px;
        justify-content: center;
    }
}