.CharacterListPage {
    list-style: none;
    padding-left: 0;
  }
  
  .CharacterListPage li {
    margin-bottom: 10px;
  }
  
  .CharacterListPage li a {
    text-decoration: none;
    color: #bd93f9;
    border: 1px solid #bd93f9;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    transition: all 200ms;
  }
  
  .CharacterListPage__label {
    font-size: 10px;
    padding: 3px 8px;
    background-color: #50fa7a;
    color: #000000;
    border-radius: 4px;
  }
  
  .CharacterListPage li a:hover {
    background-color: #bd93f9;
    color: #383a59;
  }
  